<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.davidfantasy.shardingjdbcdemo.dao.OrderGoodMapper">

    <select id="getOrderGoods" resultType="com.github.davidfantasy.shardingjdbcdemo.model.OrderGood">
        SELECT
        t.*, t1.order_code
        FROM
        t_order_good t
        inner join
        t_order t1 ON t.order_id = t1.id
    </select>




</mapper>